@import './mixins.scss';

:root {
  --black-1: #212121;
  --grey-1: #575757;
  --grey-2: #777777;
  --grey-3: #aeaeae;
  --box-shadow-color: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tiny-phone) {
    font-size: 45%;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-display: auto;
  font-weight: 400;
  line-height: 1.6;
  background: #f7f7f7;
}

.u-bold {
  font-weight: 700;
}

.u-semi-bold {
  font-weight: 500;
}

.u-fs-18 {
  font-size: 1.8rem;
}

.logo {
  font-weight: 300;
  font-size: 4.2rem;
  letter-spacing: 0.2rem;
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
  color: inherit;
}

.play-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: #ffffff;

  &--black {
    background: var(--black-1);
  }
}

.slick-next,
.slick-prev {
  width: auto;
  height: auto;
  &::before {
    content: '';
  }
}
